dist: xenial
language: generic
cache:
  directories:
    - "$HOME/.stack"
addons:
  apt:
    packages:
      - libgmp-dev
  ssh_known_hosts: 217.162.130.76
before_install:
#  - openssl aes-256-cbc -K $encrypted_cbf4cf196fa9_key -iv $encrypted_cbf4cf196fa9_iv
#    -in deploy_rsa.enc -out ./deploy_rsa -d
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://get.haskellstack.org/stable/linux-x86_64.tar.gz | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
matrix:
  include:
    - language: generic
      name: Finance Module
      install:
        - cd ./finance
        - stack --no-terminal --install-ghc test --only-dependencies
        - cd ..
      script:
        - cd ./finance
        - stack build
        - cd ..
    - language: generic
      name: Exchange Module
      install:
        - cd ./exchange
        - stack --no-terminal --install-ghc test --only-dependencies
        - cd ..
      script:
        - cd ./exchange
        - stack build
        - cd ..
    - language: generic
      name: Price Feed
      install:
        - cd ./price-feed
        - stack --no-terminal --install-ghc test --only-dependencies
        - cd ..
      script:
        - cd ./price-feed
        - stack build
        - cd ..
      before_deploy:
        - openssl aes-256-cbc -K $encrypted_cbf4cf196fa9_key -iv $encrypted_cbf4cf196fa9_iv
          -in deploy_rsa.enc -out ./deploy_rsa -d
        - eval "$(ssh-agent -s)"
        - chmod 600 /tmp/deploy_rsa
        - ssh-add /tmp/deploy_rsa
        - echo -e "Host ${DEPLOY_HOST}\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
      deploy:
        provider: script
        skip_cleanup: true
        script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/.stack-work/x86_64-linux/Cabal-2.4.0.1/build/price-feed-exe/price-feed-exe
          robin@217.162.130.76
        on:
          branch: master
