# This is the simple Travis configuration, which is intended for use
# on applications which do not require cross-platform and
# multiple-GHC-version support. For more information and other
# options, see:
#
# https://docs.haskellstack.org/en/stable/travis_ci/
#
# Copy these contents into the root directory of your Github project in a file
# named .travis.yml

# Choose a build environment
dist: xenial

# Do not choose a language; we provide our own build tools.
language: generic

# Caching so the next build will be fast too.
cache:
  directories:
  - $HOME/.stack

# Ensure necessary system libraries are present
addons:
  apt:
    packages:
      - libgmp-dev

before_install:
# Download and unpack the stack executable
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://get.haskellstack.org/stable/linux-x86_64.tar.gz | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'

matrix:
  include:
    - language: generic
      name: Finance Module
      install:
      # Build  dependencies
      - cd ./finance
      - stack --no-terminal --install-ghc test --only-dependencies
      - cd ..

      script:
      # Build the package, its tests, and its docs and run the tests
      # - stack --no-terminal test --haddock --no-haddock-deps
       - cd ./finance
       - stack build
       - cd ..
    - language: generic
      name: Exchange Module
      install:
      # Build  dependencies
      - cd ./exchange
      - stack --no-terminal --install-ghc test --only-dependencies
      - cd ..

      script:
      # Build the package, its tests, and its docs and run the tests
      # - stack --no-terminal test --haddock --no-haddock-deps
       - cd ./exchange
       - stack build
       - cd ..
    - language: generic
      name: Price Feed
      install:
      # Build  dependencies
      - cd ./price-feed
      - stack --no-terminal --install-ghc test --only-dependencies
      - cd ..

      script:
      # Build the package, its tests, and its docs and run the tests
      # - stack --no-terminal test --haddock --no-haddock-deps
       - cd ./price-feed
       - stack build
       - cd ..
