dist: xenial
language: generic
addons:
  ssh_known_hosts:
    - "${DEPLOY_HOST}"
sudo: true
before_install:
  - openssl aes-256-cbc -K $encrypted_cbf4cf196fa9_key -iv $encrypted_cbf4cf196fa9_iv
    -in deploy_rsa.enc -out ./deploy_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 ./deploy_rsa
  - echo -e "Host ${DEPLOY_HOST}\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config
  - ssh-add ./deploy_rsa
  - mkdir -p ~/.local/bin
  - export PATH=$HOME/.local/bin:$PATH
  - travis_retry curl -L https://get.haskellstack.org/stable/linux-x86_64.tar.gz | tar
    xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
  - mkdir -p ~/artifacts
  - wget -qO- https://repo1.maven.org/maven2/org/flywaydb/flyway-commandline/6.2.2/flyway-commandline-6.2.2-linux-x64.tar.gz | tar xvz && mv flyway-6.2.2 ~/artifacts/flyway
  - ls -R ~/artifacts
stages:
  - Build
  - Deploy
jobs:
  include:
    - stage: Build Prod
      name: Price Feed
      language: generic
      cache:
        directories:
          - "$HOME/.stack"
      addons:
        apt:
          packages:
            - libgmp-dev
      install:
        - cd ./price-feed
        - stack --no-terminal --install-ghc test --only-dependencies
        - cd ..
      script:
        - cd ./price-feed
        - stack build
        - mv $TRAVIS_BUILD_DIR/price-feed/.stack-work/dist/x86_64-linux/Cabal-2.4.0.1/build/price-feed-exe/price-feed-exe
          ~/artifacts/price-feed-exe
        - mv ./order-feed.service ~/artifacts/order-feed.service
        - cd ..
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - scp ~/artifacts/price-feed-exe $DEPLOY_USER@$DEPLOY_HOST:/home/$DEPLOY_USER/Documents
            && scp ~/artifacts/order-feed.service $DEPLOY_USER@$DEPLOY_HOST:/home/$DEPLOY_USER/Documents
      if: branch = master
    - name: Price Feed Staging
      language: generic
      if: branch = staging
      cache:
        directories:
          - "$HOME/.stack"
      addons:
        apt:
          packages:
            - libgmp-dev
      install:
        - cd ./price-feed
        - stack --no-terminal --install-ghc test --only-dependencies
        - cd ..
      script:
        - cd ./price-feed
        - stack build
        - mv $TRAVIS_BUILD_DIR/price-feed/.stack-work/dist/x86_64-linux/Cabal-2.4.0.1/build/price-feed-exe/price-feed-exe
          ~/artifacts/price-feed-exe
        - mv ./order-feed.service ~/artifacts/order-feed.service
        - cd ..
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - scp -P 23 ~/artifacts/price-feed-exe $DEPLOY_USER@$DEPLOY_HOST:/home/$DEPLOY_USER/Documents
            && scp -P 23 ~/artifacts/order-feed.service $DEPLOY_USER@$DEPLOY_HOST:/home/$DEPLOY_USER/Documents
            && scp -P 23 -r ~/artifacts/flyway $DEPLOY_USER@$DEPLOY_HOST:/home/$DEPLOY_USER/Documents
        on:
          branch: staging
