[Unit]
Description=Ticker Feed. Publish to Kafka

[Service]
Type=simple
ExecStart=/usr/local/bin/stack exec /home/robin/ticker-feed/ticker-feed-exe
ExecStop=/bin/kill -15 $MAINPID
Environment="HOME=/"
